.mainTitle {
  display: flex;
  font-size: 100px;
  font-weight: 600;
  color: white;
  justify-content: center;
}
.main_btn {
  width: 23%;
  height: 5%;
  font-size: 25px;
  font-weight: 400;
  color: white;
  background-color: #419dff;
  border: none;
  margin-top: 250px;
  border-radius: 5px;
  margin-left: 38vw;
}
.emphasis {
  color: #419dff;
}
.subTitle {
  margin-left: 35%;
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.footer {
  font-size: 20px;
  font-weight: 400;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 43%;
}
