ImageContrast/.vs/*
ImageContrast/Debug/*
ImageContrast/x64/*
ImageContrast/ImageContrast/*.lib
ImageContrast/ImageContrast/x64/*
ImageContrast/ImageContrast/Debug/*

ImageAdd/.vs/*
ImageAdd/Debug/*
ImageAdd/x64/*
ImageAdd/ImageAdd/*.lib
ImageAdd/ImageAdd/x64/*
ImageAdd/ImageAdd/Debug/*

scaling/.vs/*
scaling/Debug/*
scaling/x64/*
scaling/scaling/.vs/*
scaling/scaling/Debug/*
scaling/scaling/x64/*

PictureExtraction/.vs/*
PictureExtraction/Debug/*
PictureExtraction/x64/*
PictureExtraction/PictureExtraction/.vs/*
PictureExtraction/PictureExtraction/Debug/*
PictureExtraction/PictureExtraction/x64/*

ImageBlur/.vs/*
ImageBlur/Debug/*
ImageBlur/x64/*
ImageBlur/ImageBlur/.vs/*
ImageBlur/ImageBlur/Debug/*
ImageBlur/ImageBlur/x64/*

ImageDeletion/.vs/*
ImageDeletion/Debug/*
ImageDeletion/x64/*
ImageDeletion/ImageDeletion/.vs/*
ImageDeletion/ImageDeletion/Debug/*
ImageDeletion/ImageDeletion/x64/*

ImageMosiac/.vs/*
ImageMosiac/Debug/*
ImageMosiac/x64/*
ImageMosiac/ImageMosiac/.vs/*
ImageMosiac/ImageMosiac/Debug/*
ImageMosiac/ImageMosiac/x64/*

ImageProcessingTotal/.vs/*
ImageProcessingTotal/Debug/*
ImageProcessingTotal/x64/*
ImageProcessingTotal/ImageProcessingTotal/.vs/*
ImageProcessingTotal/ImageProcessingTotal/Debug/*
ImageProcessingTotal/ImageProcessingTotal/x64/*